html{
  overflow: hidden
}

body{
  transition: 0.1s;
  background: url("bg.jpg"), linear-gradient(to bottom right, orange, purple);
  margin: 0;
  font-family: Helvetica;
  font-weight: bold;
  font-style: italic;
  text-align: center;
  color: white;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  perspective: 690px;
}

#time{
  transition: .25s;
  transform: scale(1.5) translateY(10%);
  height: 500px;
  line-height: 500px;
  font-size: 100px;
  display: flex;
  padding-left: 240px;
  padding-right: 240px;
  margin-left: 200px;
  margin-right: 200px;
  backdrop-filter: blur(7px) brightness(.8);
  border-radius: 10px;
  background: linear-gradient(to bottom right, orange, purple);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -webkit-touch-callout : none
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  overflow: hidden;
  transform-style: preserve-3d;
}

#time::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 500px;
  height: 500px;
  opacity: 0;
  background: radial-gradient(white, #ffffff88 10%, #ffffff00 45%), radial-gradient(white, #ffffff00 70%);
  top: calc(var(--y, 0) * 1px - 250px);
  left: calc(var(--x, 0) * 1px - 450px);
  transition: opacity .3s, transform .1s;
  border-radius: 50%;
  transform: scale(2);
}

#time:hover::after{
  opacity: .6;
  transform: scale(.9);
}

#time div{
  flex: 1;
}

#hr:hover, #min:hover, #sec:hover{
  transition: .3s;
  color: white;
}

#hoverbutton{
  position: fixed;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 20px;
  backdrop-filter: blur(0px);
  transition: .1s;
}

#hoverbutton:hover{
  backdrop-filter: blur(15px);
}
